= form_with(model: profile, local: true) do |form|
  - if profile.errors.any?
    #error_explanation
      %h2
        = pluralize(profile.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - profile.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :gender
    = form.select :gender, ['male', 'female'], {}, id: :profile_gender
  .field
    = form.label :email
    = form.select :email, ['yahoo', 'gmail', 'msn', 'aol'], {}, id: :profile_email
  .actions
    = form.submit
