%p#notice= notice
%h1
  %span.badge-pill.badge-primary Profiles
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Gender
      %th Email
      %th{:colspan => "2"}
  %tbody
    - @profiles.each do |profile|
      %tr
        %td
          = profile.person.name
        %td= profile.gender
        %td= profile.email
        %td= link_to 'Show', profile, class: "btn btn-success"
        %td= link_to 'Edit', edit_profile_path(profile), class: "btn btn-warning"
%br/
= link_to 'New Profile', new_profile_path
